.banner, .banner--image {
    width: 100%;
}

.banner__section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.banner--btn {
    width: 12rem;
    padding: 1.4rem;
    margin-top: 1rem;
}